<section>
  <div class="page-header">
    <h1>{{vm.utag._id ? 'Edit Utag' : 'New Utag'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.utag._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.utagForm" class="form-horizontal" ng-submit="vm.save(vm.form.utagForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="utag">Utag</label>
          <input name="utag" type="text" ng-model="vm.utag.utag" id="utag" class="form-control" placeholder="Utag" required autofocus>
          <div ng-messages="vm.form.utagForm.utag.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Utag is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="image">Image</label>
          <textarea name="image" data-ng-model="vm.utag.image" id="image" class="form-control" cols="30" rows="1" placeholder="Image"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="location">Location</label>
          <textarea name="location" data-ng-model="vm.utag.location" id="location" class="form-control" cols="30" rows="1" placeholder="Location"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.utag._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
