<section>
	<div class="page-header">
		<h1>Cluster labels</h1>
	</div>
	<div style="display:inline" ng-repeat="i in vm.cluster" class="browse-thumbnails">
		<table style="display:inline-table">
			<tbody align="center" class="list-item">
				<tr>
					<td><a href="/clusters/{{i}}">{{i}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr>
	</div>
</section>
