<section>
  <div class="page-header">
    <h1>{{vm.image._id ? 'Edit Image' : 'New Image'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.image._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.imageForm" class="form-horizontal" ng-submit="vm.save(vm.form.imageForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="image">Image</label>
          <input name="image" type="text" ng-model="vm.image.image" id="image" class="form-control" placeholder="Image" required autofocus>
          <div ng-messages="vm.form.imageForm.image.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Image is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="image">Image</label>
          <textarea name="image" data-ng-model="vm.image.image" id="image" class="form-control" cols="30" rows="1" placeholder="Image"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="location">Location</label>
          <textarea name="location" data-ng-model="vm.image.location" id="location" class="form-control" cols="30" rows="1" placeholder="Location"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.image._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
