<section>
  <div class="page-header">
    <h1>Donors</h1>
  </div>

    <button ng-click="list()">List</button>



    <div class="list-group">
 
    <a ng-repeat="tag in vm.images" class="list-group-item">
      <small class="list-group-item-text">
        <span ng-bind="tag.utid"></span>
      </small>
    </a>

    </div>
  <form action="/donors">
    <input type="text" placeholder="age" name="age">
    <input type="text" placeholder="weight" name="weight">
    <button type="submit">Submit</button>
  </form>

</section>
