<section>
<body ng-app="instantSearch">
  <div class="page-header">
    <h3>I am thinking of deleting this page</h3>
    <h3>I</h3>
    <h1></h1>
  </div>

<p align="left">
<button ng-click="search()">Search</button>
<button ng-click="refineSearch()">Refine Search</button>
<button ng-click="clear()">Clear</button>
</p>
<form>
  Pick a Gender:
  </br>
  <input type="radio" ng-model="myVar" value="female">Female
  </br>
  <input type="radio" ng-model="myVar" value="male">Male
  </br>
  <input type="radio" ng-model="myVar" value="null">Neither 
</br>





</form>

  <div class="list-group">
      <p ng-bind="vm.count"> 
      </p>
    <ul>
      <!-- Render a li element for every entry in the items array. Notice
      the custom search filter "searchFor". It takes the value of the
      searchString model as an argument.
      -->
      <li ng-repeat="i in vm.tags track by $index">
        <small class="list-group-item-text">
        <p ng-bind="i.tag"></p>
          <p ng-init="myPic = i.pic"></p>
          <a target = '_blank' ng-href= '{{myVar}}'  >See Full Size Photo</a>
        <p>-------------------------------------------</p>

        </small>
      </li>
    </ul>
  </div>
  </body>
</section>
