.browse-thumbnails.ng-enter,
.browse-thumbnails.ng-leave,
.browse-thumbnails.ng-move {
transition: 0.5s linear all;
}

.browse-thumbnails.ng-enter,
.browse-thumbnails.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.browse-thumbnails.ng-enter.ng-enter-active,
.browse-thumbnails.ng-move.ng-move-active {
  height: 120px;
  opacity: 1;
}

.browse-thumbnails.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.browse-thumbnails.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}
tbody {
  border: 2px solid black;
  display: block;
  font-weight: bold;
  margin: 5px;
  padding: 2px;
}
.image-wrapper {
	border-radius: 10px;
	border: 2px solid #656565;
}
.image-wrapper img {
	border-radius: 8px;
	margin-bottom: 10px;
}
.image-wrapper select {
	margin-bottom: 5px;
}
tbody.list-item {
	border-radius: 5px;
	border: 2px solid #ccc;
	background: #eee;
	padding: 3px;
}
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
a, .clickable {
  cursor: pointer;
}
