<section>
  <div class="page-header">
		<h1>Images</h1>
	</div>

  <div style="display:inline" ng-repeat="i in vm.images[0].days[0].images" class="browse-thumbnails">
    <table style="display:inline-table">
    <tbody align="center">
      <td><a ui-sref="browse.view({ date: vm.images[0].days[0].date, browseId: vm.images[0]._id, num: i.num })"> 
        <img ng-src=../../../{{i.icon}} height="100" width="100"></a></td>
      <tr><td>{{i.num}}</td></tr>
    </tr>
    </tbody>
    </table>
  </div>
</section>
